#item{
    @extend %flex-box;
    flex-flow: row;
    justify-content: space-between
}
#actions{
    @extend %flex-box

}
#input{
    width: 30px;
    text-align: center
}
#ion-item{
    border-bottom: 1px solid #000;
    margin-top: 20px;
}

