<ion-menu [content]="content">
  <ion-content class="card-background-page">
    <ion-card>
      <div *ngIf="user == null">
        <img src="./assets/imgs/fundo2.jpg" />
        <div class="card-title">ACCIO</div>
        <div class="card-subtitle">Buscou? Achou</div>
      </div>
      <div *ngIf="user != null">
        <img src="./assets/imgs/fundo2.jpg" />
        <img src="./assets/imgs/user.png" id="usuario" />
        <div class="username">UserName</div>
      </div>
    </ion-card>
    <ion-list>
      <div *ngIf="user == null">
        <ion-item-divider color="dark">Login</ion-item-divider>
        <div class="user" padding>
          <button ion-button color="amarelo" block (click)="login()">Login</button>
          <button ion-button color="amarelo" outline block (click)="cadastro()">Cadastrar-se</button>
        </div>
      </div>
      <div *ngIf="user != null">
        <div class="user" padding>
          <button ion-button color="danger" block (click)="logout()">Sair</button>
        </div>
      </div>
      <ion-item-divider color="dark">Categorias</ion-item-divider>
      <ion-item-group *ngFor="let categ of categorias">
        <ion-item>
          <h2>{{categ.nome}}</h2>
        </ion-item>
      </ion-item-group>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-nav #content [root]="homePage"></ion-nav>